__pycache__/analyzer.cpython-313.pyc
__pycache__/gui.cpython-313.pyc
__pycache__/notifier.cpython-313.pyc
__pycache__/scraper.cpython-313.pyc
__pycache__/utils.cpython-313.pyc
data/oferty_2025-06-11.xlsx
